.first-cover img{
   width: 20%;
   border-radius: 10%;
}



.first-cover h4 {
  text-align: center;
  color: var(--text-color);
 font-size: 2.2rem;
 font-weight: 500;
 margin: 11px 0px 20px 0px;
}

.first-cover p{
  color: var(--text-color);
  text-align: center;
  margin-top: 11px;
}

